.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: #F5F8FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
    width: 85%;
    margin: 0 auto;
}
header{
    width: 100%;
    min-height: 200px;
    background-image: url('Assets/Hero-bg.png');
}
header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
header nav h2{
    color: #4E47FF;
    font-weight: bold;
    font-size: 2.5rem;
}
header nav a{
    text-decoration: none;
    padding: 12px 30px;
    background-color: #4E47FF;
    color: azure;
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: bold;
}
header nav a:hover{
    background-color: #1c17b5;

}

header .banner{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .banner h1{
    font-size: 3.5rem;
    width: 62%;
    text-align: center;
}
header .banner a{
    text-decoration: none;
    padding: 12px 30px;
    background-color: #4E47FF;
    color: azure;
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: bold;
    margin-top: 35px;
}
header .banner a:hover{
    background-color: #1c17b5;
}

main .action{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}
main .action .left_body{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}
main .action .left_body h2{
    font-size: 2.5rem;
}
main .action .left_body p{
    color: gray;
    font-size: 1.5rem;
    width: 465px;
    margin-top: 16px;
}
main .action .left_body a{
    text-decoration: none;
    padding: 12px 30px;
    background-color: #4E47FF;
    color: azure;
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: bold;
    margin-top: 26px;
}
main .action .left_body a:hover{
    background-color: #1c17b5;

}

main .action img{
    border-radius: 40px;
}

main .users{
    min-height: 200px;
    background-color: #E5E7FF;
    border-radius: 20px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
main .users h2{
    font-size: 2.8rem;
    margin-bottom: 20px;
}
main .users .ubody{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin: 10px 0;
    
}
main .users .ubody .tile{
    padding: 5px;
    text-align: center;
}
main .users .ubody .tile h3{
    font-size: 4rem;
    font-weight: bold;
    color: #4E47FF;
}
main .users .ubody .tile p{
    font-size: 1rem;
    color: gray;
    margin-top: 5px;
}
